@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,800;1,800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   text-align: center;
   background-color:#001030;
   color: white;
}

.cabecalho {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1% 0;
}

.cabecalho__links {
   color: white;
   text-align: center;
   font-family: "Nunito", sans-serif;
   font-size: 20px;
   text-decoration: none;
   padding-top: 0.3%;
}

#main-apresentacao {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   margin: 1%;
}

.main-apresentacao__conteudo {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-left: 15%;
   width: 40%;
}

.h1-apresentacao__titulo {
   font-family: "Rubik", sans-serif;
   font-weight: 800;
   font-style: italic;
   font-size: 36px;
}

.p-apresentacao {
   font-size: 24px;
   font-family: "Nunito", sans-serif;
}

.destaque-titulo {
   color: #00A6FF;
}

.subtitulo-redes__texto {
   font-family: "Rubik", sans-serif;
}

.redes-sociais {
   display: flex;
   justify-content: center;
   gap: 30px;
}

.redes-sociais__links {
   width: 10%;
   min-width: 50px;
}

.redes-sociais__imagem {
   width: 100%;
   min-width: 50px;
}

.foto-ricardo {
   margin-right: 300px;
   width: 25%;
   min-width: 300px;
}

#footer {
   display: flex;
   justify-content: left;
   background-color: #000A1F;
   font-family: Georgia, 'Times New Roman', Times, serif;
}